.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  padding: 16px;
  background-color: #dadada;
}

.main {
  flex: 1;
  padding: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 8px 0;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  margin-bottom: 3rem;
  background-color: inherit;

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #0f172a;
    background-color: inherit;

    span {
      color: #5b5cf0;
      background-color: inherit;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    background-color: inherit;

    h1 {
      font-size: 2.2rem;
      background-color: inherit;
    }
  }
}

.navList{
  display: flex;
  gap:1rem;
  flex-direction: column;
  background-color: inherit;
}